a{
    color: #009688;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

#link-input-div{
    grid-area: li;

    display: flex;
    justify-content: space-between;

    padding: 10px 60px;
}

#link-div, #input-div{
    display: inline-flex;

    justify-items: center;
    align-items: center;
}

input{
    margin-right: 6px;
}

label{
    font-size: 14px;

    font-weight: 400;

    color: rgba(35, 33, 59, 0.473)
}

@media (max-width: 777px){
    #link-div{
        display: none;
    }
}