#tutorial-video-div{
    grid-area: tv;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 72px 60px;
}

#tutorial-video-image{
    width: 560px;
    height: 314px;
}

@media (max-width: 777px){
    #tutorial-video-image{
        width: 100%;
        height: 100%;
    }

    #tutorial-video-div{
        width: 100%;
        height: 100%;

        padding: 0;
    }
}